$errorColor:#eb5757;
$screenColor:white;
$laptopColor:#f2f2f2;
$labelColor:#749897;
$inputColor:#175351;
$focusColor:#007aff;
$focusColor1:#749897;
$badgeColor:#ffba51;
$buttonHover:#26a67a;

@mixin laptop {
    @media screen and (max-width: 960px) {
      @content;
    }
  }